PORT=5000
MONGODB_URI=mongodb://amgalannemekhbayar_db_user:1234@ac-kwwnrhg-shard-00-00.bapkkwr.mongodb.net:27017,ac-kwwnrhg-shard-00-01.bapkkwr.mongodb.net:27017,ac-kwwnrhg-shard-00-02.bapkkwr.mongodb.net:27017/?ssl=true&replicaSet=atlas-agueys-shard-0&authSource=admin&appName=Cluster0
SCRYFALL_BASE_URL=https://api.scryfall.com
SECRET_KEY=d76286686e002ac20fb57b94e06caa08
